.avatar-image{
    background-color: lightblue;
    padding: 10px;
}
.avatar{
    border-radius: 50%;
    width: 100px;
    border: 1px dashed;
    padding: 10px;
}
.avatar-small{
    border-radius: 50%;
    width: 85px;
    border: 1px solid;
    padding: 10px;
}