.card{
    height: 200px;
    color: white;
    background: linear-gradient(195deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.3) 50%), url("https://picsum.photos/200/300?image=0");
    background-size: cover;
    position: relative;
}
.card-category{
    position: absolute;
    top: 10px;
    left: 10px;
}
.card-description{
    position: absolute;
    bottom: 10px;
    left: 10;
}
.card-image{
    position: absolute;
    top: 10px;
    right: 10px;
}