.card{
    height: 250px;
    color: white;
    background: linear-gradient(195deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.3) 50%, url("https://images.unsplash.com/photo-1554126343-12e9cd58e25c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80"));
}