/*Google fonts*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400, 300, 700|Montserrat:400, 700");
/*Components design*/
@import url("avatar.css");
@import url("button.css");
@import url("dropdown.css");
@import url("card.css");
@import url("badge.css");
@import url("banner.css");
/*@import url("components/tabs.css");
@import url("components/list.css");*/